[[source]]
name = "pypi"
verify_ssl = true

[dev-packages]
behave = "==1.2.6"
pytest = "==6.0.1"
pytest-cov = "==2.10.1"
mypy = "==0.782"
flake8 = "==3.8.3"
pytest-mock = "==3.2.0"
python-dotenv = "==0.14.0"
moto = "*"

[packages]
backoff = ">=1.8.0"
boto3 = "==1.14.45"
dataclasses-json = "==0.5.2"
mypy-boto3-s3 = "==1.15.11.0"
mypy-boto3-dynamodb = "==1.16.24.0"
pyyaml = "==5.4.1"
requests = "==2.24.0"
secret-sauce-python = "==0.1.10"
test-oneingest-multipart = "==0.3.1"



[requires]
python_version == "3.8"
